USE [master]
GO
/****** Object:  Database [GalacticusDB]    Script Date: 07/03/2025 21:29:29 ******/
CREATE DATABASE [GalacticusDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CompraVenta', FILENAME = N'C:\SQLDATA\MSSQL16.SQLEXPRESS\MSSQL\DATA\GalacticusDB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CompraVenta_log', FILENAME = N'C:\SQLDATA\MSSQL16.SQLEXPRESS\MSSQL\DATA\GalacticusDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GalacticusDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GalacticusDB]
GO

/****** Object:  Table [dbo].[TM_SUCURSAL]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[TM_SUCURSAL](
	[SUC_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_NOM] [varchar](50) NULL,
	[SUC_DIRECCION] [varchar](250) NULL,
	[SUC_TELEFONO] [varchar](20) NULL,
	[SUC_CORREO] [varchar](50) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_SUCURSAL] PRIMARY KEY CLUSTERED 
(
	[SUC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_COMPRA_DETALLE]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_COMPRA_DETALLE](
	[DETC_ID] [int] IDENTITY(1,1) NOT NULL,
	[COMPR_ID] [int] NULL,
	[PROD_ID] [int] NULL,
	[PROD_PCOMPRA] [numeric](18, 2) NULL,
	[DETC_CANT] [int] NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TD_COMPRA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[DETC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_MENU]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TD_MENU](
	[MEND_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEN_ID] [int] NULL,
	[ROL_ID] [int] NULL,
	[MEND_PERMI] [varchar](2) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TD_MENU] PRIMARY KEY CLUSTERED 
(
	[MEND_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TD_VENTA_DETALLE]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[TD_VENTA_DETALLE](
	[DETV_ID] [int] IDENTITY(1,1) NOT NULL,
	[VENT_ID] [int] NULL,
	[PROD_ID] [int] NULL,
	[PROD_PVENTA] [numeric](18, 2) NULL,
	[DETV_CANT] [int] NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TD_VENTA_DETALLE] PRIMARY KEY CLUSTERED 
(
	[DETV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_CATEGORIA]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_CATEGORIA](
	[CAT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[CAT_NOM] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_CATEGORIA] PRIMARY KEY CLUSTERED 
(
	[CAT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_CLIENTE]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_CLIENTE](
	[CLI_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[CLI_NOM] [varchar](150) NULL,
	[CLI_RUC] [varchar](50) NULL,
	[CLI_TELF] [varchar](50) NULL,
	[CLI_DIRECC] [varchar](150) NULL,
	[CLI_CORREO] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_CLIENTE] PRIMARY KEY CLUSTERED 
(
	[CLI_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TM_CLIENTE]
ADD CONSTRAINT FK_TM_CLIENTE_TM_SUCURSAL
FOREIGN KEY ([SUC_ID])
REFERENCES [dbo].[TM_SUCURSAL] ([SUC_ID]);
GO

/****** Object:  Table [dbo].[TM_COMPRA]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE TABLE [dbo].[TM_COMPRA](
	[COMPR_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[PAG_ID] [int] NULL,
	[COMPR_COMENT] [varchar](500) NULL,
	[USU_ID] [int] NULL,
	[MON_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_COMPRA] PRIMARY KEY CLUSTERED 
(
	[COMPR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_DOCUMENTO]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_DOCUMENTO](
	[DOC_ID] [int] IDENTITY(1,1) NOT NULL,
	[DOC_NOM] [varchar](50) NULL,
	[DOC_TIPO] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_DOCUMENTO] PRIMARY KEY CLUSTERED 
(
	[DOC_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TM_MENU]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_MENU](
	[MEN_ID] [int] IDENTITY(1,1) NOT NULL,
	[MEN_NOM] [varchar](150) NULL,
	[MEN_RUTA] [varchar](250) NULL,
	[MEN_IDENTI] [varchar](150) NULL,
	[MEN_GRUPO] [varchar](150) NULL,
	[MEN_ICON] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_MENU] PRIMARY KEY CLUSTERED 
(
	[MEN_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_MONEDA]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[TM_MONEDA](
	[MON_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[MON_NOM] [varchar](50) NULL,
	[MON_SIMBOLO] [varchar](20) NULL,
	[MON_COD_ISO] [varchar](20) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_MONEDA] PRIMARY KEY CLUSTERED 
(
	[MON_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_PAGO]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_PAGO](
	[PAG_ID] [int] IDENTITY(1,1) NOT NULL,
	[PAG_NOM] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_PAGO] PRIMARY KEY CLUSTERED 
(
	[PAG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_PRODUCTO]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_PRODUCTO](
	[PROD_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[CAT_ID] [int] NULL,
	[PROD_NOM] [varchar](150) NULL,
	[PROD_DESCRIP] [varchar](max) NULL,
	[PROD_STOCK] [int] NULL,
	[PROV_ID] [int] NULL,
	[MON_ID] [int] NULL,
	[PRECIO_VENTA] [numeric](18, 2) NULL,
	[PROD_IMG] [varchar](max) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_PRODUCTO] PRIMARY KEY CLUSTERED 
(
	[PROD_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_PROVEEDOR]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_PROVEEDOR](
	[PROV_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[PROV_NOM] [varchar](150) NULL,
	[PROV_RUC] [varchar](15) NULL,
	[PROV_TELF] [varchar](50) NULL,
	[PROV_DIRECC] [varchar](150) NULL,
	[PROV_CORREO] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_PROVEEDOR] PRIMARY KEY CLUSTERED 
(
	[PROV_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

ALTER TABLE [dbo].[TM_PROVEEDOR]
ADD CONSTRAINT FK_TM_PROVEEDOR_TM_SUCURSAL
FOREIGN KEY ([SUC_ID])
REFERENCES [dbo].[TM_SUCURSAL] ([SUC_ID]);
GO

/****** Object:  Table [dbo].[TM_ROL]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_ROL](
	[ROL_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[ROL_NOM] [varchar](150) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_ROL] PRIMARY KEY CLUSTERED 
(
	[ROL_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[TM_UNIDAD]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  Table [dbo].[TM_USUARIO]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_USUARIO](
	[USU_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[USU_CORREO] [varchar](150) NULL,
	[USU_NOM] [varchar](150) NULL,
	[USU_APE] [varchar](150) NULL,
	[USU_DNI] [varchar](50) NULL,
	[USU_TELF] [varchar](50) NULL,
	[USU_PASS] [varchar](50) NULL,
	[ROL_ID] [int] NULL,
	[USU_IMG] [varchar](max) NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_USUARIO] PRIMARY KEY CLUSTERED 
(
	[USU_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TM_VENTA]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TM_VENTA](
	[VENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[PAG_ID] [int] NULL,
	[CLI_ID] [int] NULL,
	[VENT_COMENT] [varchar](500) NULL,
	[USU_ID] [int] NULL,
	[MON_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
 CONSTRAINT [PK_TM_VENTA] PRIMARY KEY CLUSTERED 
(
	[VENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO


/****** Object:  StoredProcedure [dbo].[SP_D_CATEGORIA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_CATEGORIA_01]
@CAT_ID INT
AS
BEGIN
	UPDATE TM_CATEGORIA
	SET
		EST= 0
	WHERE
		CAT_ID = @CAT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_CLIENTE_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_CLIENTE_01]
@CLI_ID INT
AS
BEGIN
	UPDATE TM_CLIENTE
	SET
		EST= 0
	WHERE
		CLI_ID = @CLI_ID
END
GO

/****** Object:  StoredProcedure [dbo].[SP_D_COMPRA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_D_COMPRA_01]
@DETC_ID INT
AS
BEGIN
	UPDATE TD_COMPRA_DETALLE
	SET
		EST=0
	WHERE
		DETC_ID = @DETC_ID
END
GO

--Eliminar Registro

/****** Object:  StoredProcedure [dbo].[SP_D_MONEDA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_MONEDA_01]
@MON_ID INT
AS
BEGIN
	UPDATE TM_MONEDA
	SET
		EST= 0
	WHERE
		MON_ID = @MON_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_PRODUCTO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_PRODUCTO_01]
@PROD_ID INT
AS
BEGIN
	UPDATE TM_PRODUCTO
	SET
		EST= 0
	WHERE
		PROD_ID = @PROD_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_PROVEEDOR_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_PROVEEDOR_01]
@PROV_ID INT
AS
BEGIN
	UPDATE TM_PROVEEDOR
	SET
		EST= 0
	WHERE
		PROV_ID = @PROV_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_ROL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_ROL_01]
@ROL_ID INT
AS
BEGIN
	UPDATE TM_ROL
	SET
		EST= 0
	WHERE
		ROL_ID = @ROL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_SUCURSAL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_SUCURSAL_01]
@SUC_ID INT
AS
BEGIN
	UPDATE TM_SUCURSAL
	SET
		EST= 0
	WHERE
		SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_UNIDAD_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_UNIDAD_01]
@UND_ID INT
AS
BEGIN
	UPDATE TM_UNIDAD
	SET
		EST= 0
	WHERE
		UND_ID = @UND_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_USUARIO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Eliminar Registro
CREATE PROCEDURE [dbo].[SP_D_USUARIO_01]
@USU_ID INT
AS
BEGIN
	UPDATE TM_USUARIO
	SET
		EST= 0
	WHERE
		USU_ID = @USU_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_D_VENTA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_D_VENTA_01]
@DETV_ID INT
AS
BEGIN
	UPDATE TD_VENTA_DETALLE
	SET
		EST=0
	WHERE
		DETV_ID = @DETV_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_CATEGORIA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_CATEGORIA_01]
@SUC_ID INT,
@CAT_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_CATEGORIA
	(SUC_ID,CAT_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@CAT_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_CLIENTE_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_I_CLIENTE_01]
@SUC_ID INT,
@CLI_NOM VARCHAR(150),  
@CLI_RUC VARCHAR(15),  
@CLI_TELF VARCHAR(150),  
@CLI_DIRECC VARCHAR(150),  
@CLI_CORREO VARCHAR(100)  
AS  
BEGIN  
 INSERT INTO TM_CLIENTE  
 (SUC_ID,CLI_NOM,CLI_RUC,CLI_TELF,CLI_DIRECC,CLI_CORREO,FECH_CREA,EST)  
 VALUES  
 (@SUC_ID,@CLI_NOM,@CLI_RUC,@CLI_TELF,@CLI_DIRECC,@CLI_CORREO,GETDATE(),1)  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_I_COMPRA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_I_COMPRA_01]
@SUC_ID INT,
@USU_ID INT
AS
BEGIN
SET NOCOUNT ON
	INSERT INTO TM_COMPRA 
	(SUC_ID,USU_ID,EST)
	VALUES
	(@SUC_ID,@USU_ID,2)
	SELECT COMPR_ID FROM TM_COMPRA WHERE COMPR_ID=@@IDENTITY
SET NOCOUNT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_COMPRA_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_I_MENU_02]
@ROL_ID INT
AS
BEGIN
	IF (SELECT COUNT(*) FROM TD_MENU WHERE ROL_ID=@ROL_ID)=0
	BEGIN
		INSERT INTO TD_MENU
		(MEN_ID,ROL_ID,MEND_PERMI,FECH_CREA,EST)
		(SELECT MEN_ID,@ROL_ID,'NO',GETDATE(),1 FROM TM_MENU WHERE EST=1)
	END
	ELSE
	BEGIN
		INSERT INTO TD_MENU
		(MEN_ID,ROL_ID,MEND_PERMI,FECH_CREA,EST)
		(SELECT MEN_ID,@ROL_ID,'NO',GETDATE(),1 FROM TM_MENU WHERE EST=1 AND MEN_ID NOT IN (SELECT MEN_ID FROM TD_MENU WHERE ROL_ID=@ROL_ID))
	END
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_MONEDA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_MONEDA_01]
@SUC_ID INT,
@MON_NOM VARCHAR(50),
@MON_SIMBOLO VARCHAR(20),
@MON_COD_ISO VARCHAR(20)
AS
BEGIN
	INSERT INTO TM_MONEDA
	(SUC_ID,MON_NOM,MON_SIMBOLO,MON_COD_ISO,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@MON_NOM,@MON_SIMBOLO,@MON_COD_ISO,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_PRODUCTO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_PRODUCTO_01]
@SUC_ID INT,
@CAT_ID INT,
@PROD_NOM VARCHAR(150),
@PROD_DESCRIP VARCHAR(150),
@MON_ID INT,
@PROD_PVENTA NUMERIC(18,2),
@PROV_ID INT,
@PROD_IMG VARCHAR(MAX)
AS
BEGIN
	INSERT INTO TM_PRODUCTO
	(SUC_ID,CAT_ID,PROD_NOM,PROD_DESCRIP,PROD_STOCK,PROV_ID,MON_ID,PRECIO_VENTA,PROD_IMG,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@CAT_ID,@PROD_NOM,@PROD_DESCRIP,0,@PROV_ID,@MON_ID,@PROD_PVENTA,@PROD_IMG,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_PROVEEDOR_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_I_PROVEEDOR_01]       
@SUC_ID INT,
@PROV_NOM VARCHAR(150),    
@PROV_RUC VARCHAR(15),    
@PROV_TELF VARCHAR(150),    
@PROV_DIRECC VARCHAR(150),    
@PROV_CORREO VARCHAR(150)   
AS    
BEGIN    
 INSERT INTO TM_PROVEEDOR    
 (SUC_ID,PROV_NOM,PROV_RUC,PROV_TELF,PROV_DIRECC,PROV_CORREO,FECH_CREA,EST)    
 VALUES    
 (@SUC_ID,@PROV_NOM,@PROV_RUC,@PROV_TELF,@PROV_DIRECC,@PROV_CORREO,GETDATE(),1)    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_ROL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_ROL_01]
@SUC_ID INT,
@ROL_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_ROL
	(SUC_ID,ROL_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@ROL_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_SUCURSAL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_SUCURSAL_01]
@SUC_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_SUCURSAL
	(SUC_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_UNIDAD_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--REGISTRAR NUEVO REGISTRO
CREATE PROCEDURE [dbo].[SP_I_UNIDAD_01]
@SUC_ID INT,
@UND_NOM VARCHAR(150)
AS
BEGIN
	INSERT INTO TM_UNIDAD
	(SUC_ID,UND_NOM,FECH_CREA,EST)
	VALUES
	(@SUC_ID,@UND_NOM,GETDATE(),1)
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_USUARIO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_I_USUARIO_01]  
@SUC_ID INT,  
@USU_CORREO VARCHAR(150),  
@USU_NOM VARCHAR(150),  
@USU_APE VARCHAR(150),  
@USU_DNI VARCHAR(150),  
@USU_TELF VARCHAR(150),  
@USU_PASS VARCHAR(150),  
@ROL_ID INT,
@USU_IMG VARCHAR(MAX)
AS  
BEGIN  
 INSERT INTO TM_USUARIO  
 (SUC_ID,USU_CORREO,USU_NOM,USU_APE,USU_DNI,USU_TELF,USU_PASS,ROL_ID,USU_IMG,FECH_CREA,EST)  
 VALUES  
 (@SUC_ID,@USU_CORREO,@USU_NOM,@USU_APE,@USU_DNI,@USU_TELF,@USU_PASS,@ROL_ID,@USU_IMG,GETDATE(),1)  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_I_VENTA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_I_VENTA_01]
@SUC_ID INT,
@USU_ID INT
AS
BEGIN
SET NOCOUNT ON
	INSERT INTO TM_VENTA 
	(SUC_ID,USU_ID,EST)
	VALUES
	(@SUC_ID,@USU_ID,2)

	SELECT VENT_ID FROM TM_VENTA WHERE VENT_ID=@@IDENTITY
SET NOCOUNT OFF
END
GO
/****** Object:  StoredProcedure [dbo].[SP_I_VENTA_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[SP_L_CATEGORIA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_L_CATEGORIA_01]  
@SUC_ID INT  
AS  
BEGIN  
 SELECT 
	 CAT_ID,
	 SUC_ID,
	 CAT_NOM,
	 CONVERT(VARCHAR,FECH_CREA,103) AS FECH_CREA,
	 EST 
 FROM 
	TM_CATEGORIA  
 WHERE  
	 SUC_ID = @SUC_ID  
	 AND EST=1  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_L_CATEGORIA_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_CATEGORIA_02]
@CAT_ID INT
AS
BEGIN
	SELECT * FROM TM_CATEGORIA
	WHERE
	CAT_ID = @CAT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_CATEGORIA_03]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_CATEGORIA_03]
@SUC_ID INT
AS
BEGIN

	SELECT        
		TM_CATEGORIA.CAT_ID, 
		TM_CATEGORIA.CAT_NOM, 
		SUM(TM_PRODUCTO.PROD_STOCK) AS STOCK
	FROM            
		TM_CATEGORIA INNER JOIN
		TM_PRODUCTO ON TM_CATEGORIA.CAT_ID = TM_PRODUCTO.CAT_ID
	WHERE        
		TM_CATEGORIA.SUC_ID = 1
		AND TM_PRODUCTO.EST=1
		AND TM_CATEGORIA.EST=1
	GROUP BY
		TM_CATEGORIA.CAT_ID, 
		TM_CATEGORIA.CAT_NOM
	ORDER BY
		STOCK DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_CLIENTE_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--SP PARA QUE CUANDO SE PRESIONE EL BOTON DE AGREGAR SE LLENE LA TABLA
CREATE PROCEDURE SP_L_PRODUCTO_INFO
@PROD_ID INT 
AS 
BEGIN 
	SELECT * FROM TM_PRODUCTO P INNER JOIN TM_CATEGORIA C ON P.CAT_ID = C.CAT_ID WHERE P.PROD_ID = @PROD_ID; 
END


/****** Object:  StoredProcedure [dbo].[SP_L_CLIENTE_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


--Listar todos los registros por Sucursal
CREATE PROCEDURE [dbo].[SP_L_CLIENTE_01] @SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_CLIENTE
	WHERE
	SUC_ID = @SUC_ID  AND
	EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_CLIENTE_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_CLIENTE_02]
@CLI_ID INT
AS
BEGIN
	SELECT * FROM TM_CLIENTE
	WHERE
	CLI_ID = @CLI_ID
END
GO


/****** Object:  StoredProcedure [dbo].[SP_L_COMPRA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_COMPRA_01]  
@COMPR_ID INT  
AS  
BEGIN  
 SELECT          
 TD_COMPRA_DETALLE.DETC_ID,   
 TM_CATEGORIA.CAT_NOM,   
 TM_PRODUCTO.PROD_NOM,
 TM_PRODUCTO.PROD_IMG,
 TD_COMPRA_DETALLE.PROD_PCOMPRA,  
 TD_COMPRA_DETALLE.DETC_CANT,    
 TD_COMPRA_DETALLE.COMPR_ID,   
 TD_COMPRA_DETALLE.PROD_ID
 FROM              
 TD_COMPRA_DETALLE INNER JOIN  
 TM_PRODUCTO ON TD_COMPRA_DETALLE.PROD_ID = TM_PRODUCTO.PROD_ID INNER JOIN  
 TM_CATEGORIA ON TM_PRODUCTO.CAT_ID = TM_CATEGORIA.CAT_ID
 WHERE  
 TD_COMPRA_DETALLE.COMPR_ID = @COMPR_ID  
 AND TD_COMPRA_DETALLE.EST=1  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_COMPRA_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[SP_L_COMPRA_03]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  
CREATE PROCEDURE [dbo].[SP_L_COMPRA_04]
@SUC_ID INT
AS
BEGIN
	SELECT        
	TM_CATEGORIA.CAT_NOM, 
	SUM(TD_COMPRA_DETALLE.DETC_CANT) AS CANT
	FROM            
	TM_COMPRA INNER JOIN
	TD_COMPRA_DETALLE ON TM_COMPRA.COMPR_ID = TD_COMPRA_DETALLE.COMPR_ID INNER JOIN
	TM_PRODUCTO ON TD_COMPRA_DETALLE.PROD_ID = TM_PRODUCTO.PROD_ID INNER JOIN
	TM_CATEGORIA ON TM_PRODUCTO.CAT_ID = TM_CATEGORIA.CAT_ID
	WHERE        
	TM_COMPRA.EST = 1
	AND TM_COMPRA.SUC_ID = @SUC_ID
	GROUP BY CAT_NOM
	ORDER BY CANT DESC
END
GO

/****** Object:  StoredProcedure [dbo].[SP_L_DOCUMENTO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_DOCUMENTO_01]
@DOC_TIPO VARCHAR(150)
AS
BEGIN
	SELECT * FROM TM_DOCUMENTO
	WHERE 
	EST=1
	AND DOC_TIPO ='VENTA'
END
GO

/****** Object:  StoredProcedure [dbo].[SP_L_MENU_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_MENU_01]
@ROL_ID INT
AS
BEGIN
	SELECT        
	TD_MENU.MEND_ID, 
	TD_MENU.MEN_ID, 
	TD_MENU.ROL_ID, 
	TD_MENU.MEND_PERMI, 
	TD_MENU.FECH_CREA, 
	TD_MENU.EST, 
	TM_MENU.MEN_NOM, 
	TM_MENU.MEN_RUTA, 
	TM_MENU.MEN_IDENTI,
	TM_MENU.MEN_GRUPO,
	TM_MENU.MEN_ICON
	FROM            
	TD_MENU INNER JOIN
	TM_MENU ON TD_MENU.MEN_ID = TM_MENU.MEN_ID
	WHERE 
	TD_MENU.ROL_ID = @ROL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_MENU_03]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_MENU_03]
@USU_ID INT,
@MEN_IDENTI VARCHAR(100)
AS  
BEGIN  
	SELECT        
	TD_MENU.MEND_ID, 
	TD_MENU.MEN_ID, 
	TD_MENU.ROL_ID, 
	TD_MENU.MEND_PERMI, 
	TD_MENU.FECH_CREA, 
	TD_MENU.EST, 
	TM_MENU.MEN_NOM, 
	TM_MENU.MEN_RUTA, 
	TM_MENU.MEN_IDENTI, 
	TM_MENU.MEN_GRUPO, 
	TM_USUARIO.USU_ID, 
	TM_ROL.ROL_NOM
	FROM            
	TD_MENU INNER JOIN
	TM_MENU ON TD_MENU.MEN_ID = TM_MENU.MEN_ID INNER JOIN
	TM_ROL ON TD_MENU.ROL_ID = TM_ROL.ROL_ID INNER JOIN
	TM_USUARIO ON TM_ROL.ROL_ID = TM_USUARIO.ROL_ID
 WHERE   
	TM_USUARIO.USU_ID=1  
	AND MEND_PERMI ='SI'
	AND TM_MENU.MEN_IDENTI = 'sucursal'
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_MONEDA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_MONEDA_01]  
@SUC_ID INT  
AS  
BEGIN  
 SELECT 
 MON_ID,
 SUC_ID,
 MON_NOM,
 MON_SIMBOLO,
 MON_COD_ISO,
 FECH_CREA,
 EST
 FROM TM_MONEDA  
 WHERE  
 SUC_ID = @SUC_ID  
 AND EST=1  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_MONEDA_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_MONEDA_02]
@MON_ID INT
AS
BEGIN
	SELECT * FROM TM_MONEDA
	WHERE
	MON_ID = @MON_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PAGO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_PAGO_01]

AS
BEGIN
	SELECT * FROM TM_PAGO WHERE EST=1
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_L_PRODUCTO_01]  
@SUC_ID INT  
AS  
BEGIN  
SELECT        
TM_PRODUCTO.PROD_ID, 
TM_PRODUCTO.SUC_ID, 
TM_PRODUCTO.CAT_ID, 
TM_PRODUCTO.PROD_NOM, 
TM_PRODUCTO.PROD_DESCRIP, 
TM_PRODUCTO.PROD_STOCK,
TM_PRODUCTO.PROV_ID,
TM_PROVEEDOR.PROV_NOM,
TM_PRODUCTO.MON_ID,  
TM_PRODUCTO.PRECIO_VENTA, 
TM_PRODUCTO.PROD_IMG, 
TM_PRODUCTO.FECH_CREA, 
TM_PRODUCTO.EST, 
TM_CATEGORIA.CAT_NOM, 
TM_MONEDA.MON_COD_ISO,
TM_MONEDA.MON_SIMBOLO
FROM            
TM_PRODUCTO INNER JOIN
TM_CATEGORIA ON TM_PRODUCTO.CAT_ID = TM_CATEGORIA.CAT_ID INNER JOIN
TM_MONEDA ON TM_PRODUCTO.MON_ID = TM_MONEDA.MON_ID
INNER JOIN TM_PROVEEDOR ON TM_PROVEEDOR.PROV_ID = TM_PRODUCTO.PROV_ID
 WHERE  
 TM_PRODUCTO.SUC_ID = @SUC_ID  
 AND TM_PRODUCTO.EST=1  
END  
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PRODUCTO_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID  

CREATE PROCEDURE [dbo].[SP_L_PRODUCTO_02]  
@PROD_ID INT  
AS  
BEGIN  
 SELECT          
TM_PRODUCTO.PROD_ID,   
TM_PRODUCTO.SUC_ID,   
TM_PRODUCTO.CAT_ID,   
TM_PRODUCTO.PROD_NOM,   
TM_PRODUCTO.PROD_DESCRIP, 
TM_PRODUCTO.MON_ID,   
TM_PROVEEDOR.PROV_ID,
TM_PRODUCTO.PRECIO_VENTA,   
TM_PRODUCTO.PROD_STOCK,   
TM_PRODUCTO.PROD_IMG,   
TM_PRODUCTO.FECH_CREA,   
TM_PRODUCTO.EST,   
TM_CATEGORIA.CAT_NOM,   
TM_MONEDA.MON_NOM
FROM              
TM_PRODUCTO INNER JOIN  
TM_CATEGORIA ON TM_PRODUCTO.CAT_ID = TM_CATEGORIA.CAT_ID INNER JOIN  
TM_MONEDA ON TM_PRODUCTO.MON_ID = TM_MONEDA.MON_ID INNER JOIN TM_PROVEEDOR ON
TM_PROVEEDOR.PROV_ID = TM_PRODUCTO.PROV_ID
 WHERE  
 TM_PRODUCTO.PROD_ID = @PROD_ID  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PRODUCTO_03]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_L_PRODUCTO_03]    
@CAT_ID INT    
AS    
BEGIN    
SELECT          
TM_PRODUCTO.PROD_ID,   
TM_PRODUCTO.SUC_ID,   
TM_PRODUCTO.CAT_ID,   
TM_PRODUCTO.PROD_NOM,   
TM_PRODUCTO.PROD_DESCRIP, 
TM_PRODUCTO.MON_ID,    
TM_PRODUCTO.PRECIO_VENTA,   
TM_PRODUCTO.PROD_STOCK,   
TM_PRODUCTO.PROD_IMG,   
TM_PRODUCTO.FECH_CREA,   
TM_PRODUCTO.EST,   
TM_CATEGORIA.CAT_NOM,   
TM_MONEDA.MON_NOM
FROM              
TM_PRODUCTO INNER JOIN  
TM_CATEGORIA ON TM_PRODUCTO.CAT_ID = TM_CATEGORIA.CAT_ID INNER JOIN  
TM_MONEDA ON TM_PRODUCTO.MON_ID = TM_MONEDA.MON_ID
 WHERE    
 TM_PRODUCTO. CAT_ID = @CAT_ID    
 AND TM_PRODUCTO.EST=1    
END 
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PRODUCTO_05]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_L_PRODUCTO_05]
@PROD_ID INT
AS
BEGIN
	SELECT * FROM 
	(
		SELECT        
		TM_COMPRA.COMPR_ID, 
		CONVERT(VARCHAR,TM_COMPRA.FECH_CREA,103) AS FECH_CREA,
		TD_COMPRA_DETALLE.DETC_CANT, 
		TD_COMPRA_DETALLE.PROD_ID, 
		TM_DOCUMENTO.DOC_NOM,
		'Compra' as REGISTRO
		FROM            
		TM_COMPRA INNER JOIN
		TD_COMPRA_DETALLE ON TM_COMPRA.COMPR_ID = TD_COMPRA_DETALLE.COMPR_ID INNER JOIN
		TM_DOCUMENTO ON TM_COMPRA.DOC_ID = TM_DOCUMENTO.DOC_ID
		WHERE        
		TM_COMPRA.EST = 1 
		AND TD_COMPRA_DETALLE.PROD_ID = @PROD_ID

		UNION ALL

		SELECT        
		TM_VENTA.VENT_ID, 
		CONVERT(VARCHAR,TM_VENTA.FECH_CREA,103) AS FECH_CREA,
		TD_VENTA_DETALLE.DETV_CANT, 
		TD_VENTA_DETALLE.PROD_ID, 
		TM_DOCUMENTO.DOC_NOM,
		'Venta' as REGISTRO
		FROM            
		TM_VENTA INNER JOIN
		TD_VENTA_DETALLE ON TM_VENTA.VENT_ID = TD_VENTA_DETALLE.VENT_ID INNER JOIN
		TM_DOCUMENTO ON TM_VENTA.DOC_ID = TM_DOCUMENTO.DOC_ID
		WHERE        
		TM_VENTA.EST = 1 
		AND TD_VENTA_DETALLE.PROD_ID = @PROD_ID
	) TABLA 
	ORDER BY 
	FECH_CREA DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_PROVEEDOR_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Listar todos los registros por Sucursal
CREATE PROCEDURE [dbo].[SP_L_PROVEEDOR_01] 
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_PROVEEDOR
	WHERE 
	SUC_ID = @SUC_ID AND
	EST=1
END
GO
EXEC [SP_L_PROVEEDOR_01] 1;
/****** Object:  StoredProcedure [dbo].[SP_L_PROVEEDOR_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_PROVEEDOR_02]
@PROV_ID INT
AS
BEGIN
	SELECT * FROM TM_PROVEEDOR
	WHERE
	PROV_ID = @PROV_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_REPORTE_COMPRA_01]    Script Date: 07/03/2025 21:29:30 ******/

/****** Object:  StoredProcedure [dbo].[SP_L_REPORTE_VENTA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/****** Object:  StoredProcedure [dbo].[SP_L_ROL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Listar todos los registros por Sucursal
CREATE PROCEDURE [dbo].[SP_L_ROL_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_ROL
	WHERE
	SUC_ID = @SUC_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_ROL_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_ROL_02]
@ROL_ID INT
AS
BEGIN
	SELECT * FROM TM_ROL
	WHERE
	ROL_ID = @ROL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_SUCURSAL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Listar todos los registros por Sucursal
CREATE PROCEDURE [dbo].[SP_L_SUCURSAL_01]
AS
BEGIN
	SELECT * FROM TM_SUCURSAL
	WHERE EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_SUCURSAL_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_SUCURSAL_02]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_SUCURSAL
	WHERE
	SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_UNIDAD_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Listar todos los registros por Sucursal
CREATE PROCEDURE [dbo].[SP_L_UNIDAD_01]
@SUC_ID INT
AS
BEGIN
	SELECT * FROM TM_UNIDAD
	WHERE
	SUC_ID = @SUC_ID
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_UNIDAD_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_UNIDAD_02]
@UND_ID INT
AS
BEGIN
	SELECT * FROM TM_UNIDAD
	WHERE
	UND_ID = @UND_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_USUARIO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_L_USUARIO_01]    
@SUC_ID INT    
AS    
BEGIN    
SELECT          
TM_USUARIO.USU_ID,   
TM_USUARIO.SUC_ID,   
TM_USUARIO.USU_CORREO,   
TM_USUARIO.USU_NOM,   
TM_USUARIO.USU_APE,   
TM_USUARIO.USU_DNI,   
TM_USUARIO.USU_TELF,   
TM_USUARIO.USU_PASS,  
TM_USUARIO.USU_IMG, 
TM_USUARIO.ROL_ID,   
TM_USUARIO.FECH_CREA,  
TM_ROL.ROL_NOM,   
TM_USUARIO.EST  
FROM              
TM_USUARIO INNER JOIN  
TM_ROL ON TM_USUARIO.ROL_ID = TM_ROL.ROL_ID  
WHERE    
TM_USUARIO.SUC_ID = @SUC_ID    
AND TM_USUARIO.EST=1    
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_USUARIO_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Obtener registro por ID
CREATE PROCEDURE [dbo].[SP_L_USUARIO_02]
@USU_ID INT
AS
BEGIN
	SELECT * FROM TM_USUARIO
	WHERE
	USU_ID = @USU_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_USUARIO_03]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACCESO DE USUARIO
CREATE PROCEDURE [dbo].[SP_L_USUARIO_03]
@USU_CORREO VARCHAR(150),
@USU_PASS VARCHAR(50)
AS
BEGIN
	SELECT * FROM TM_USUARIO
	WHERE
	USU_CORREO = @USU_CORREO
	AND USU_PASS = @USU_PASS
	AND EST=1
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_USUARIO_04]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_L_USUARIO_04]    
@SUC_ID INT,    
@USU_CORREO VARCHAR(50),    
@USU_PASS VARCHAR(30)    
AS    
BEGIN    
 SELECT            
 TM_USUARIO.USU_ID,     
 TM_USUARIO.SUC_ID,     
 TM_USUARIO.USU_CORREO,     
 TM_USUARIO.USU_NOM,     
 TM_USUARIO.USU_APE,     
 TM_USUARIO.USU_DNI,     
 TM_USUARIO.USU_TELF,     
 TM_USUARIO.USU_PASS,     
 TM_USUARIO.ROL_ID,    
 TM_USUARIO.USU_IMG, 
 TM_SUCURSAL.SUC_NOM
 FROM      
 TM_USUARIO INNER JOIN    
 TM_SUCURSAL ON TM_USUARIO.SUC_ID = TM_SUCURSAL.SUC_ID  
 WHERE    
 TM_USUARIO.SUC_ID = @SUC_ID     
 AND TM_USUARIO.USU_CORREO = @USU_CORREO    
 AND TM_USUARIO.USU_PASS = @USU_PASS    
 AND TM_USUARIO.EST = 1    
END 
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_CATEGORIA_01]
@CAT_ID INT,
@SUC_ID INT,
@CAT_NOM VARCHAR(150)
AS
BEGIN
	UPDATE TM_CATEGORIA
	SET
		SUC_ID = @SUC_ID,
		CAT_NOM = @CAT_NOM
	WHERE
		CAT_ID = @CAT_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_CLIENTE_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_CLIENTE_01]  
@CLI_ID INT,  
@CLI_NOM VARCHAR(150), 
@CLI_RUC VARCHAR(150),  
@CLI_TELF VARCHAR(150),  
@CLI_DIRECC VARCHAR(150),  
@CLI_CORREO VARCHAR(100)  
AS  
BEGIN  
 UPDATE TM_CLIENTE  
 SET  
  CLI_NOM = @CLI_NOM,  
  CLI_RUC = @CLI_RUC,  
  CLI_TELF = @CLI_TELF,  
  CLI_DIRECC = @CLI_DIRECC,  
  CLI_CORREO = @CLI_CORREO  
 WHERE  
  CLI_ID = @CLI_ID  
END
GO

/****** Object:  StoredProcedure [dbo].[SP_U_COMPRA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



CREATE PROCEDURE [dbo].[SP_U_COMPRA_02]
@COMPR_ID INT
AS
BEGIN
SET NOCOUNT ON
	DECLARE @ID_REGISTRO INT
	DECLARE @PROD_ID INT
	DECLARE @CANT INT

	DECLARE CUR CURSOR FOR SELECT DETC_ID FROM TD_COMPRA_DETALLE WHERE COMPR_ID=@COMPR_ID
	OPEN CUR
	FETCH NEXT FROM CUR INTO @ID_REGISTRO
	WHILE @@FETCH_STATUS=0
		BEGIN
			SELECT @PROD_ID=PROD_ID FROM TD_COMPRA_DETALLE WHERE DETC_ID = @ID_REGISTRO
			
			SELECT @CANT=DETC_CANT FROM TD_COMPRA_DETALLE WHERE DETC_ID = @ID_REGISTRO

			UPDATE TM_PRODUCTO
			SET
				PROD_STOCK = PROD_STOCK + @CANT
			WHERE
				PROD_ID = @PROD_ID

			FETCH NEXT FROM CUR INTO @ID_REGISTRO
		END
	CLOSE CUR
	DEALLOCATE CUR
SET NOCOUNT OFF
END

GO
/****** Object:  StoredProcedure [dbo].[SP_U_COMPRA_03]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_U_PRODUCTO_STOCK]
@PROD_ID INT,
@CANTIDAD INT,
@TIPO VARCHAR(20)
AS
BEGIN
    -- Verificar si el tipo es COMPRA o VENTA
    IF @TIPO = 'COMPRA'
    BEGIN
        -- Si es COMPRA, se suma la cantidad al stock
        UPDATE TM_PRODUCTO 
        SET PROD_STOCK = PROD_STOCK + @CANTIDAD 
        WHERE PROD_ID = @PROD_ID;
    END
    ELSE IF @TIPO = 'VENTA'
    BEGIN
        -- Si es VENTA, se resta la cantidad del stock
        UPDATE TM_PRODUCTO 
        SET PROD_STOCK = PROD_STOCK - @CANTIDAD 
        WHERE PROD_ID = @PROD_ID;
    END
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[SP_U_MENU_01]
@MEND_ID INT
AS
BEGIN
	UPDATE TD_MENU
	SET
		MEND_PERMI = 'SI'
	WHERE
		MEND_ID = @MEND_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_MENU_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_MENU_02]
@MEND_ID INT
AS
BEGIN
	UPDATE TD_MENU
	SET
		MEND_PERMI = 'NO'
	WHERE
		MEND_ID = @MEND_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_MONEDA_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_MONEDA_01]
@MON_ID INT,
@SUC_ID INT,
@MON_NOM VARCHAR(50),
@MON_SIM VARCHAR(20),
@MON_COD VARCHAR(20)
AS
BEGIN
	UPDATE TM_MONEDA
	SET
		SUC_ID = @SUC_ID,
		MON_NOM = @MON_NOM,
		MON_SIMBOLO = @MON_SIM,
		MON_COD_ISO = @MON_COD
	WHERE
		MON_ID = @MON_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_PRODUCTO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_PRODUCTO_01]
@PROD_ID INT,
@SUC_ID INT,
@CAT_ID INT,
@PROD_NOM VARCHAR(150),
@PROD_DESCRIP VARCHAR(150),
@PROV_ID INT,
@MON_ID INT,
@PROD_PVENTA NUMERIC(18,2),
@PROD_IMG VARCHAR(MAX)
AS
BEGIN
	UPDATE TM_PRODUCTO
	SET
		SUC_ID = @SUC_ID,
		CAT_ID = @CAT_ID,
		PROD_NOM = @PROD_NOM,
		PROD_DESCRIP = @PROD_DESCRIP,
		PROV_ID = @PROV_ID,
		MON_ID = @MON_ID,
		PRECIO_VENTA = @PROD_PVENTA,
		PROD_IMG = @PROD_IMG
	WHERE
		PROD_ID = @PROD_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_PROVEEDOR_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SP_U_PROVEEDOR_01]
@PROV_ID INT,
@SUC_ID INT,
@PROV_NOM VARCHAR(150),
@PROV_RUC VARCHAR(50),
@PROV_TELF VARCHAR(150),
@PROV_DIRECC VARCHAR(150),
@PROV_CORREO VARCHAR(100)
AS
BEGIN
	UPDATE TM_PROVEEDOR
	SET
		SUC_ID = @SUC_ID,
		PROV_NOM = @PROV_NOM,
		PROV_RUC = @PROV_RUC,
		PROV_TELF = @PROV_TELF,
		PROV_DIRECC = @PROV_DIRECC,
		PROV_CORREO = @PROV_CORREO
	WHERE
		PROV_ID = @PROV_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_ROL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_ROL_01]
@ROL_ID INT,
@SUC_ID INT,
@ROL_NOM VARCHAR(150)
AS
BEGIN
	UPDATE TM_ROL
	SET
		SUC_ID = @SUC_ID,
		ROL_NOM = @ROL_NOM
	WHERE
		ROL_ID = @ROL_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_SUCURSAL_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ACTUALIZAR REGISTRO
CREATE PROCEDURE [dbo].[SP_U_SUCURSAL_01]
@SUC_ID INT,
@SUC_NOM VARCHAR(150)
AS
BEGIN
	UPDATE TM_SUCURSAL
	SET
		SUC_NOM = @SUC_NOM
	WHERE
		SUC_ID = @SUC_ID
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_UNIDAD_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Object:  StoredProcedure [dbo].[SP_U_USUARIO_01]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[SP_U_USUARIO_01]  
@USU_ID INT,  
@SUC_ID INT,  
@USU_CORREO VARCHAR(150),  
@USU_NOM VARCHAR(150),  
@USU_APE VARCHAR(150),  
@USU_DNI VARCHAR(150),  
@USU_TELF VARCHAR(150),  
@USU_PASS VARCHAR(150),  
@ROL_ID INT,
@USU_IMG VARCHAR(MAX)
AS  
BEGIN  
 UPDATE TM_USUARIO  
 SET  
  SUC_ID = @SUC_ID,  
  USU_CORREO = @USU_CORREO,  
  USU_NOM = @USU_NOM,  
  USU_APE = @USU_APE,  
  USU_DNI = @USU_DNI,  
  USU_TELF = @USU_TELF,  
  USU_PASS = @USU_PASS,  
  ROL_ID = @ROL_ID,
  USU_IMG = @USU_IMG
 WHERE  
  USU_ID = @USU_ID  
END
GO
/****** Object:  StoredProcedure [dbo].[SP_U_USUARIO_02]    Script Date: 07/03/2025 21:29:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--CAMBIO DE CONTRASEÑA
CREATE PROCEDURE [dbo].[SP_U_USUARIO_02]
@USU_ID INT,
@USU_PASS VARCHAR(50)
AS
BEGIN
	UPDATE TM_USUARIO
	SET
		USU_PASS = @USU_PASS
	WHERE
		USU_ID = @USU_ID
END
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

INSERT INTO TM_SUCURSAL(SUC_NOM, FECH_CREA, EST, SUC_DIRECCION, SUC_TELEFONO, SUC_CORREO) 
VALUES ('Galacticus Plaza Paseo','2020-10-01',1, 'Módulo 10 - km 28.7 carretera a Masaya, Masaya','2227-3840','galacticusplazapaseo@gmail.com' );

INSERT INTO TM_SUCURSAL(SUC_NOM, FECH_CREA, EST, SUC_DIRECCION, SUC_TELEFONO, SUC_CORREO) 
VALUES ('Galacticus Parque Central','2023-01-05',1, 'Parque Central 25 vrs al Sur, Calle Real Monimbo, Masaya','8254-5259','galacticusparque@gmail.com' );

INSERT INTO TM_SUCURSAL(SUC_NOM, FECH_CREA, EST, SUC_DIRECCION, SUC_TELEFONO, SUC_CORREO) 
VALUES ('Galacticus Plaza Once','2025-03-02',1, 'Centro Comercial Plaza Once,. 2do piso. Km. 11 Carretera a Masaya','2522-0985','galacticusplazaonce@gmail.com' );

GO

INSERT INTO TM_ROL(SUC_ID, ROL_NOM, FECH_CREA, EST) VALUES (1,'Admin',GETDATE(),1);
INSERT INTO TM_ROL(SUC_ID, ROL_NOM, FECH_CREA, EST) VALUES (1,'Vendedor',GETDATE(),1);
INSERT INTO TM_ROL(SUC_ID, ROL_NOM, FECH_CREA, EST) VALUES (1,'Comprador',GETDATE(),1);
GO

INSERT INTO TM_USUARIO(SUC_ID, USU_CORREO, USU_NOM, USU_APE, USU_DNI, USU_TELF, USU_PASS, ROL_ID, FECH_CREA, EST) 
VALUES(1, 'mariel20@galacticus.com','Mariel','Castro','4010301021001K','89102123','admin123',1,GETDATE(),1);--ADMINISTRADOR SUC 1

INSERT INTO TM_USUARIO(SUC_ID, USU_CORREO, USU_NOM, USU_APE, USU_DNI, USU_TELF, USU_PASS, ROL_ID, FECH_CREA, EST) 
VALUES(1, 'aldo07@galacticus.com','Aldo','Molina','1010708010235L','72012912','vendedor123',2,GETDATE(),1);--VENDEDOR SUC 1


INSERT INTO TM_USUARIO(SUC_ID, USU_CORREO, USU_NOM, USU_APE, USU_DNI, USU_TELF, USU_PASS, ROL_ID, FECH_CREA, EST) 
VALUES(1, 'yosuer@galacticus.com','Yosuer','Montenegro','1020909012038J','75693123','comprador123',2,GETDATE(),1);--COMPRADOR SUC 1


GO



--ADMINISTRADOR SUC 2

--VENDEDOR SUC 2

--COMPRADOR SUC 2


--ADMINISTRADOR SUC 3

--VENDEDOR SUC 3

--COMPRADOR SUC 3


INSERT INTO TM_MENU(MEN_NOM, MEN_RUTA, MEN_IDENTI, MEN_GRUPO, FECH_CREA, EST)
VALUES ('Inicio','../home/','inicio','Inicio',GETDATE(),1);

INSERT INTO TM_MENU(MEN_NOM, MEN_RUTA, MEN_IDENTI, MEN_GRUPO, FECH_CREA, EST)
VALUES ('Categorias','../Categoria/','categoria','Mantenimiento',GETDATE(),1);

INSERT INTO TM_MENU(MEN_NOM, MEN_RUTA, MEN_IDENTI, MEN_GRUPO, FECH_CREA, EST)
VALUES ('Productos','../Producto/','producto','Mantenimiento',GETDATE(),1);

















GO

INSERT INTO TD_MENU(MEN_ID, ROL_ID, MEND_PERMI, FECH_CREA, EST) 
VALUES(1,1,'SI',GETDATE(),1);
INSERT INTO TD_MENU(MEN_ID, ROL_ID, MEND_PERMI, FECH_CREA, EST) 
VALUES(2,1,'SI',GETDATE(),1);
INSERT INTO TD_MENU(MEN_ID, ROL_ID, MEND_PERMI, FECH_CREA, EST) 
VALUES(3,1,'SI',GETDATE(),1);



--CAT
--PROD
--CLIE
--PROVEEDOR
--MONEDA
--UNDMEDIDA
--SUCURSAL
--USUARIO
--ROL
--COMPRA
--LISTACOMPRA
--VENTA
--LISTAVENTA



--CAT
--PROD
--CLIE
--PROVEEDOR
--MONEDA
--UNDMEDIDA
--SUCURSAL
--USUARIO
--ROL
--COMPRA
--LISTACOMPRA
--VENTA
--LISTAVENTA
GO

INSERT INTO [dbo].[TM_DOCUMENTO] (DOC_NOM, DOC_TIPO, EST) VALUES('Factura', 'Venta', 1);
INSERT INTO [dbo].[TM_DOCUMENTO] (DOC_NOM, DOC_TIPO, EST) VALUES('Boleta','Venta', 1);
INSERT INTO [dbo].[TM_DOCUMENTO] (DOC_NOM, DOC_TIPO, EST) VALUES('Factura', 'Compra', 1);


INSERT INTO [dbo].[TM_PAGO] (PAG_NOM,EST) VALUES ('Tarjeta',1);

INSERT INTO [dbo].[TM_PAGO] (PAG_NOM,EST) VALUES ('Efectivo',1);

INSERT INTO [dbo].[TM_PAGO] (PAG_NOM,EST) VALUES ('Transferencia',1);

GO

--CREANDO EL PROCEDIMIENTO ALMACENADO PARA INSERTAR UNA COMPRA

CREATE PROCEDURE SP_I_COMPRAS
@SUC_ID INT,
@PAG_ID INT,
@COMPR_COMENT VARCHAR(500),
@USU_ID INT,
@MON_ID INT,
@DOC_ID INT
AS
BEGIN

INSERT INTO TM_COMPRA(SUC_ID, PAG_ID, COMPR_COMENT, USU_ID, MON_ID, DOC_ID, FECH_CREA, EST) 
VALUES (@SUC_ID, @PAG_ID, @COMPR_COMENT, @USU_ID, @MON_ID, @DOC_ID, GETDATE(), 1);
END
GO

CREATE PROCEDURE SP_I_COMPRA_DETALLE
@COMPR_ID INT, 
@PROD_ID INT,
@PROD_PCOMPRA NUMERIC(18,2),
@DETC_CANT INT
AS
BEGIN
INSERT INTO TD_COMPRA_DETALLE(COMPR_ID, PROD_ID, PROD_PCOMPRA, DETC_CANT, FECH_CREA, EST)
VALUES(@COMPR_ID, @PROD_ID, @PROD_PCOMPRA, @DETC_CANT, GETDATE(), 1);
--UNA VEZ REGISTRADO SE DEBE ACTUALIZAR EL STOCK
UPDATE TM_PRODUCTO SET PROD_STOCK = PROD_STOCK + @DETC_CANT WHERE PROD_ID = @PROD_ID;
END
GO





CREATE PROCEDURE SP_I_VENTAS
@SUC_ID INT,
@USU_ID INT,
@DOC_ID INT,
@PAG_ID INT,
@MON_ID INT,
@CLI_ID INT,
@VENT_COMENT VARCHAR(500)
AS
BEGIN

INSERT INTO TM_VENTA(SUC_ID, PAG_ID, CLI_ID, VENT_COMENT, USU_ID, MON_ID, DOC_ID, FECH_CREA, EST) 
VALUES (@SUC_ID, @PAG_ID, @CLI_ID, @VENT_COMENT, @USU_ID, @MON_ID, @DOC_ID, GETDATE(), 1);
END
GO

CREATE PROCEDURE SP_I_VENTA_DETALLE
@VENT_ID INT, 
@PROD_ID INT,
@PROD_PVENTA NUMERIC(18,2),
@DETV_CANT INT
AS
BEGIN
INSERT INTO TD_VENTA_DETALLE(VENT_ID, PROD_ID, PROD_PVENTA, DETV_CANT, FECH_CREA, EST)
VALUES(@VENT_ID, @PROD_ID, @PROD_PVENTA, @DETV_CANT, GETDATE(), 1);
--UNA VEZ REGISTRADO SE DEBE ACTUALIZAR EL STOCK
UPDATE TM_PRODUCTO SET PROD_STOCK = PROD_STOCK - @DETV_CANT WHERE PROD_ID = @PROD_ID;
END
GO

--------------SP PARA LA TABLA DE LISTAR COMPRAS-------------------

CREATE PROCEDURE SP_L_COMPRAS 
@SUC_ID INT
AS
BEGIN
SELECT  
TC.COMPR_ID,--ID
U.USU_IMG,-- IMAGEN DEL USUARIO
U.USU_NOM, -- NOMBRE DEL USUARIO
U.USU_APE, -- APELLIDO DEL USUARIO
TP.PAG_NOM, --TIPO DE PAGO
TM.MON_SIMBOLO, --SIMBOLO DE LA MONEDA
(SELECT SUM(PROD_PCOMPRA*DETC_CANT) FROM TD_COMPRA_DETALLE WHERE COMPR_ID = TC.COMPR_ID)AS SUBTOTAL,--SUBTOTAL
TC.FECH_CREA, --FECHA
TC.COMPR_COMENT --COMENTARIO
FROM TM_COMPRA TC INNER JOIN 
TM_USUARIO U ON TC.USU_ID = U.USU_ID INNER JOIN TM_PAGO TP ON TP.PAG_ID = TC.PAG_ID INNER JOIN
TM_MONEDA TM ON TM.MON_ID = TC.MON_ID
WHERE TC.EST = 1 AND TC.SUC_ID = @SUC_ID;
END
GO
-------------------------------------------------------------------

/*
	[VENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUC_ID] [int] NULL,
	[PAG_ID] [int] NULL,
	[CLI_ID] [int] NULL,
	[VENT_COMENT] [varchar](500) NULL,
	[USU_ID] [int] NULL,
	[MON_ID] [int] NULL,
	[DOC_ID] [int] NULL,
	[FECH_CREA] [datetime] NULL,
	[EST] [int] NULL,
*/
---- PROCEDIMIENTO ALMACENADO PARA VER LOS DETALLES DE COMPRA ----

CREATE PROCEDURE SP_L_COMPRAS_DETALLE
@COMPR_ID INT 
AS 
BEGIN
SELECT 
TP.PROD_IMG,
TCAT.CAT_NOM,
TP.PROD_NOM,
TM.MON_SIMBOLO,
TCD.PROD_PCOMPRA,
TCD.DETC_CANT
 FROM TD_COMPRA_DETALLE TCD INNER JOIN TM_PRODUCTO TP ON TCD.PROD_ID = TP.PROD_ID INNER JOIN 
 TM_CATEGORIA TCAT ON TP.CAT_ID = TCAT.CAT_ID INNER JOIN TM_COMPRA TC ON TC.COMPR_ID = TCD.COMPR_ID INNER JOIN 
 TM_MONEDA TM ON TM.MON_ID = TC.MON_ID  WHERE TCD.EST = 1 AND TCD.COMPR_ID = @COMPR_ID ;
 END 
 GO
---- PROCEDIMIENTO ALMACENADO PARA VER LAS VENTAS -----
CREATE PROCEDURE SP_L_VENTAS
@SUC_ID INT 
AS 
BEGIN
SELECT 
VENT_ID,
VENT_COMENT,
TV.FECH_CREA,
TM.MON_SIMBOLO,
TC.CLI_NOM,
TP.PAG_NOM,
TU.USU_IMG,
TU.USU_NOM,
TU.USU_APE,
(SELECT SUM(PROD_PVENTA*DETV_CANT) FROM TD_VENTA_DETALLE WHERE VENT_ID = TV.VENT_ID)AS SUBTOTAL
FROM TM_VENTA TV 
INNER JOIN TM_MONEDA TM
ON TV.MON_ID = TM.MON_ID
INNER JOIN TM_PAGO TP
ON TV.PAG_ID = TP.PAG_ID
INNER JOIN TM_CLIENTE TC
ON TV.CLI_ID = TC.CLI_ID
INNER JOIN TM_USUARIO TU
ON TV.USU_ID = TU.USU_ID
WHERE TV.EST = 1 AND TV.SUC_ID = 1;
END
GO
---- PROCEDIMIENTO ALMACENADO PARA VER LOS DETALLES DE VENTA ----

---PROCEDIMIENTO ALMACENADO PARA VER EL DETALLE DE LA VENTA
GO
CREATE PROCEDURE SP_L_VENTAS_DETALLE
@VENT_ID INT 
AS 
BEGIN
SELECT 
TP.PROD_IMG,
TC.CAT_NOM,
TP.PROD_NOM,
TM.MON_SIMBOLO,
TVD.PROD_PVENTA,
TVD.DETV_CANT
 FROM TD_VENTA_DETALLE TVD INNER JOIN TM_PRODUCTO TP ON TVD.PROD_ID = TP.PROD_ID INNER JOIN 
 TM_CATEGORIA TC ON TP.CAT_ID = TC.CAT_ID INNER JOIN TM_VENTA TV ON TV.VENT_ID = TVD.VENT_ID INNER JOIN 
 TM_MONEDA TM ON TM.MON_ID = TV.MON_ID  WHERE TVD.EST = 1 AND TVD.VENT_ID = @VENT_ID;
 END 
 GO

CREATE PROCEDURE SP_CALCULO_IVA
@VENT_ID INT 
AS 
BEGIN 
  SELECT 
  SUM(PROD_PVENTA * DETV_CANT) AS 'Subtotal',
  SUM(PROD_PVENTA * DETV_CANT)*0.15 AS 'IVA',
  SUM((PROD_PVENTA * DETV_CANT)+((PROD_PVENTA * DETV_CANT)*0.15)) AS 'TOTAL'
  FROM TD_VENTA_DETALLE WHERE TD_VENTA_DETALLE.EST = 1 AND TD_VENTA_DETALLE.VENT_ID = @VENT_ID;

END

GO

CREATE PROCEDURE SP_VENTA_IMPRESION
@VENT_ID INT
AS
BEGIN
SELECT 
SUC_NOM,
SUC_CORREO,
SUC_TELEFONO,
SUC_DIRECCION,
TM_VENTA.VENT_ID,
TM_VENTA.VENT_COMENT,
TM_VENTA.FECH_CREA AS FECHA,
PAG_NOM,
CLI_NOM,
CLI_RUC,
CLI_DIRECC,
CLI_CORREO,
USU_NOM,
USU_APE,
MON_SIMBOLO,
MON_NOM,
(SELECT SUM(TD_VENTA_DETALLE.PROD_PVENTA*TD_VENTA_DETALLE.DETV_CANT) 
FROM TD_VENTA_DETALLE WHERE TD_VENTA_DETALLE.VENT_ID = @VENT_ID) AS VENT_TOTAL
FROM TM_VENTA INNER JOIN TD_VENTA_DETALLE ON TM_VENTA.VENT_ID = TD_VENTA_DETALLE.VENT_ID
INNER JOIN TM_PAGO ON TM_PAGO.PAG_ID = TM_VENTA.PAG_ID INNER JOIN TM_MONEDA ON TM_MONEDA.MON_ID = TM_VENTA.MON_ID
INNER JOIN TM_USUARIO ON TM_USUARIO.USU_ID = TM_VENTA.USU_ID INNER JOIN TM_SUCURSAL ON TM_SUCURSAL.SUC_ID = TM_VENTA.SUC_ID
INNER JOIN TM_CLIENTE ON TM_CLIENTE.CLI_ID = TM_VENTA.CLI_ID
WHERE TM_VENTA.EST=1 AND TM_VENTA.VENT_ID=@VENT_ID;
END

  GO

CREATE PROCEDURE SP_CALCULO_IVA_COMPRA
@COMPR_ID INT 
AS 
BEGIN 
  SELECT 
  SUM(PROD_PCOMPRA * DETC_CANT) AS 'Subtotal',
  SUM(PROD_PCOMPRA * DETC_CANT)*0.15 AS 'IVA',
  SUM((PROD_PCOMPRA * DETC_CANT)+((PROD_PCOMPRA * DETC_CANT)*0.15)) AS 'TOTAL'
  FROM TD_COMPRA_DETALLE WHERE TD_COMPRA_DETALLE.EST = 1 AND TD_COMPRA_DETALLE.COMPR_ID = @COMPR_ID;

END

GO


--METODOO QUE DEVUELVE EL TOTAL DE VENTAS SEMANAL DEPENDIENTO DE LA SUCURSAL
CREATE PROCEDURE SP_VENTA_X_SEMANA
@SUC_ID INT
AS
BEGIN 

SELECT SUM(PROD_PVENTA* DETV_CANT) AS MONTOSEMANAL FROM TD_VENTA_DETALLE INNER JOIN [TM_VENTA] ON TD_VENTA_DETALLE.VENT_ID = [TM_VENTA].VENT_ID
WHERE [TM_VENTA].SUC_ID = @SUC_ID AND  [TM_VENTA].EST=1 AND TD_VENTA_DETALLE.FECH_CREA 
BETWEEN DATEADD(DAY, DATEDIFF(DAY, 0, GETDATE()) - 6, 0) AND GETDATE();
END
GO

CREATE PROCEDURE SP_MONTO_X_MONEDA
@SUC_ID INT
AS 
BEGIN
SELECT 
    SUM(PROD_PVENTA * DETV_CANT) AS TotalVenta,
    TM_MONEDA.MON_ID,
    TM_MONEDA.MON_SIMBOLO
FROM 
    TD_VENTA_DETALLE 
INNER JOIN 
    TM_VENTA ON TD_VENTA_DETALLE.VENT_ID = TM_VENTA.VENT_ID
INNER JOIN 
    TM_MONEDA ON TM_MONEDA.MON_ID = TM_VENTA.MON_ID
WHERE 
TM_VENTA.EST = 1 AND TM_VENTA.SUC_ID = @SUC_ID
GROUP BY 
    TM_MONEDA.MON_ID, TM_MONEDA.MON_SIMBOLO;

END
GO

GO

CREATE PROCEDURE SP_CANTIDAD_PRODUCTO_X_SUC @SUC_ID INT
AS
BEGIN
SELECT COUNT(*) AS 'Cantidad Producto' FROM TM_PRODUCTO WHERE SUC_ID =  @SUC_ID AND EST=1;
END
GO

CREATE PROCEDURE SP_CANTIDAD_CATEGORIA_X_SUC @SUC_ID INT
AS
BEGIN
SELECT COUNT(*) AS 'Cantidad Categoria' FROM TM_CATEGORIA WHERE SUC_ID =  @SUC_ID AND EST=1;
END

GO

CREATE PROCEDURE SP_CANTIDAD_CLIENTE_X_SUC @SUC_ID INT
AS
BEGIN
SELECT COUNT(*) AS 'Cantidad Cliente' FROM TM_CLIENTE WHERE SUC_ID =  @SUC_ID AND EST=1;
END
GO
CREATE PROCEDURE SP_CANTIDAD_USUARIO_X_SUC @SUC_ID INT
AS
BEGIN
SELECT COUNT(*) AS 'Cantidad Usuario' FROM TM_USUARIO WHERE SUC_ID =  @SUC_ID AND EST=1;
END

GO
/*
SP PARA OBTENER LOS 5 PRODUCTOS MAS VENDIDOS
*/

CREATE PROCEDURE [dbo].[SP_L_TOP_PRODUCTOS_VENDIDOS]
@SUC_ID INT
AS
BEGIN
	SELECT        
	TOP (5) TD_VENTA_DETALLE.PROD_ID, 
	SUM(TD_VENTA_DETALLE.DETV_CANT) AS CANT, 
	TM_PRODUCTO.PROD_NOM, 
	TM_CATEGORIA.CAT_NOM, 
	TM_PRODUCTO.PROD_STOCK, 
	TM_PRODUCTO.PROD_IMG,
	TM_MONEDA.MON_NOM
	FROM            
	TD_VENTA_DETALLE INNER JOIN
	TM_PRODUCTO ON TD_VENTA_DETALLE.PROD_ID = TM_PRODUCTO.PROD_ID INNER JOIN
	TM_CATEGORIA ON TM_PRODUCTO.CAT_ID = TM_CATEGORIA.CAT_ID INNER JOIN
	TM_VENTA ON TD_VENTA_DETALLE.VENT_ID = TM_VENTA.VENT_ID INNER JOIN
	TM_MONEDA ON TM_VENTA.MON_ID = TM_MONEDA.MON_ID
	WHERE
	TM_VENTA.EST = 1
	AND TM_PRODUCTO.EST=1
	AND TM_VENTA.SUC_ID = @SUC_ID
	GROUP BY 
	TD_VENTA_DETALLE.PROD_ID, 
	TM_PRODUCTO.PROD_NOM, 
	TM_CATEGORIA.CAT_NOM, 
	TM_PRODUCTO.PROD_STOCK, 
	TM_PRODUCTO.PROD_IMG,
	TM_MONEDA.MON_NOM
	ORDER BY CANT DESC
END
GO
/****** Object:  StoredProcedure [dbo].[SP_L_VENTA_06]    Script Date: 01/05/2025 22:33:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--ICONOS DEL MENU
UPDATE TM_MENU SET MEN_ICON = 'ri-home-2-line' WHERE MEN_ID = 1; --INICIO HOME

UPDATE TM_MENU SET MEN_ICON = 'ri-stack-line' WHERE MEN_ID = 2; -- CATEGORIAS 

UPDATE TM_MENU SET MEN_ICON = 'las la-laptop' WHERE MEN_ID = 3; -- PRODUCTOS

UPDATE TM_MENU SET MEN_ICON =  'ri-team-line' WHERE MEN_ID = 4; -- CLIENTES

UPDATE TM_MENU SET MEN_ICON = 'ri-truck-line' WHERE MEN_ID = 5; -- PROVEEDORES

UPDATE TM_MENU SET MEN_ICON = 'ri-exchange-dollar-line' WHERE MEN_ID = 6; -- MONEDAS

UPDATE TM_MENU SET MEN_ICON = 'ri-building-line' WHERE MEN_ID = 7; -- SUCURSALES

UPDATE TM_MENU SET MEN_ICON = 'ri-user-settings-line' WHERE MEN_ID = 8; -- USUARIOS

UPDATE TM_MENU SET MEN_ICON = 'ri-shield-user-line' WHERE MEN_ID = 9; -- ROLES

UPDATE TM_MENU SET MEN_ICON = 'las la-cash-register' WHERE MEN_ID = 10; -- REGISTRAR COMPRA

UPDATE TM_MENU SET MEN_ICON = 'ri-shopping-cart-line' WHERE MEN_ID = 11; -- COMPRAS

UPDATE TM_MENU SET MEN_ICON = 'las la-cash-register' WHERE MEN_ID = 12; -- REGISTRAR VENTA

UPDATE TM_MENU SET MEN_ICON = 'ri-hand-coin-line' WHERE MEN_ID = 13; -- VENTAS




